<div class="main-container">
  <div class="alert alert-app-level">
  </div>
  <header class="header header-6">
      <div class="branding">
          <a href="..." class="nav-link">
              <img src="../assets/images/logo.svg" class="headerLogo" />
              <span class="title">Foxen Labs</span>
          </a>
      </div>
      <div class="header-actions">
          <clr-dropdown>
              <button class="nav-text" clrDropdownTrigger>
                  info@foxenlabs.com
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                  <a href="..." clrDropdownItem>Preferences</a>
                  <!--<a href="..." clrDropdownItem>Log out</a>-->
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
  </header>
  <nav class="subnav">
  </nav>
  <div class="content-container">
      <div class="content-area">
          <div class="content">
            <div class="logoTop">
              Coming Soon...
            </div>
           <div class="logo">
             <img class="bigLogo" src="../assets/images/logo.svg" />
           </div> 
           <div class="logoText">
             Foxen Labs
            </div>
            <div class="logoTagline">
              <p>Twin Tiers Web Design and IT Consulting</p>
              Sayre, PA
            </div>
          </div>
      </div>
      <!--
        <nav class="sidenav">
      </nav>
      -->
  </div>
</div>