div {
}
.headerLogo {
	max-height: 50px;
	padding: 5px;
}

.content {
	display: grid;
	grid-template-rows: auto auto auto auto;
}

.bigLogo {
	display: grid;
	max-height: 650px;
}

.logoText, .logoTop {
	display: grid;
	font-weight: 800;
	font-size: 72px;
	margin: 1pt;
	padding: 3pt;
	justify-items: center;
	align-items: center;
}

.logoTagline {
	display: grid;
	justify-items: center;
	padding-top: .5em;
}